# Dependencies
node_modules/
package-lock.json

# Test results
reports/
tests/visual/test/
tests/visual/html_report/
tests/visual/ci_report/
.lighthouseci/

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
.cache/
